# Database
MONGO_URI="mongodb://root:password@localhost:27017/tnp_portal?authSource=admin"

# JWT secret for temporary link tokens and normal auth tokens
JWT_SECRET="replace_with_a_long_secret"

# Frontend base url (used in verification link)
FRONTEND_URL="http://localhost:5173"

PORT=4000
# Backend base url
BASE_URL="http://localhost:4000"

# Nodemailer SMTP (example using Gmail SMTP or use an SMTP service)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="your-mail@nitsri.ac.in"
SMTP_PASS="your app password"
FROM_EMAIL="no-reply@nitsri.ac.in"

# Upload dir
UPLOAD_DIR="./uploads"